name: Workflow

on:
  workflow_dispatch:
    inputs:
      # amb:
      #   description: 'Select an environment, for example: dev / hlg / prd'
      #   required: false
      #   default: 'hlg'
      browser:
        description: 'Select a browser, for example: chrome / electron'
        required: false
        default: 'chrome'
      tag:
        description: 'Select a tag, for example: @login / @activities / @regression '
        required: false
        default: '@regression'
  pull_request:
    branches: [ master, release/develop ]
  # schedule:
  #  - cron: "0 0 * * *"
    
env:
  # DEFAULT_AMB: "hlg"
  DEFAULT_BROWSER: "chrome"
  DEFAULT_TAG: "@regression"

jobs:
  install:
    runs-on: ubuntu-latest
    container: cypress/base:16.13.2	
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress install
        uses: cypress-io/github-action@v2
        with:
          runTests: false

  cypress-run-1:
    name: Cypress run 1
    runs-on: self-hosted
    container: cypress/base:16.13.2
    needs: install
    strategy: 
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Cypress run 
        uses: cypress-io/github-action@v2
        with: 
          command: npx cypress run --parallel --record --key 00c89c4d-58cf-4965-8e87-09616c006608 --browser ${{github.event.inputs.browser || env.DEFAULT_BROWSER}} --env grep=${{github.event.inputs.tag || env.DEFAULT_TAG}}

  cypress-run-2:
    name: Cypress run 2
    runs-on: self-hosted
    container: cypress/base:16.13.2
    needs: install
    strategy: 
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Cypress run 
        uses: cypress-io/github-action@v2
        with: 
          command: npx cypress run --parallel --record --key 00c89c4d-58cf-4965-8e87-09616c006608 --browser ${{github.event.inputs.browser || env.DEFAULT_BROWSER}} --env grep=${{github.event.inputs.tag || env.DEFAULT_TAG}}

  cypress-run-3:
    name: Cypress run 3
    runs-on: self-hosted
    container: cypress/base:16.13.2
    needs: install
    strategy: 
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Cypress run 
        uses: cypress-io/github-action@v2
        with: 
          command: npx cypress run --parallel --record --key 00c89c4d-58cf-4965-8e87-09616c006608 --browser ${{github.event.inputs.browser || env.DEFAULT_BROWSER}} --env grep=${{github.event.inputs.tag || env.DEFAULT_TAG}}
          
  cypress-run-4:
    name: Cypress run 4
    runs-on: self-hosted
    container: cypress/base:16.13.2
    needs: install
    strategy: 
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Cypress run 
        uses: cypress-io/github-action@v2
        with: 
          command: npx cypress run --parallel --record --key 00c89c4d-58cf-4965-8e87-09616c006608 --browser ${{github.event.inputs.browser || env.DEFAULT_BROWSER}} --env grep=${{github.event.inputs.tag || env.DEFAULT_TAG}}

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_reports: 20
          
      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history
